# registry = http://10.3.87.51:8082/repository/npm-proxy/
# registry = http://10.3.87.51:8082/repository/npm-hosted/
# registry = https://registry.npmmirror.com/
registry = http://10.3.87.51:8082/repository/npm-group/